
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'header.html' %}
    {% block content %}
    {% endblock %}
<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</body>
</html>